$white: white;
$accent: #00896f;
$border-radius: 2px;
$success: #8cc63f;
$danger: #d50000;
$info: #55acee;
$primary: #37474f;
$warning: #efdb13;
$background-color: #f2f2f2;
$color: #616161;
$border-color: #ccc;
$border-radius-base: 3px;
$facebook-color: #3b5998;
$google-color: #de5245;
//Sidemenu
$side-background: #37474f;
$side-color: white;
$side-header: #263238;
//Border
$border-color: #f3f3f3;
$avatar-background: #9e9e9e;
